body {
  margin: 0;
  margin-top: 128px;
}

header {
  position: fixed;
  top: 0;
  height: 124px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 4px #E24D21;
  img {
    height: 80px;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
  }
  ul {
    flex: 1;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 0 0;
    li {
      margin: 10px 5px 10px 5px;
      .anchor-link {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.85em;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-decoration: none;
        &.active-background {
          padding: 8px 20px 8px 20px;
          border-radius: 20px;
          background-color: #E24D21;
          color: white;
          transition: 0.5s;
        }
        &.inactive-background {
          padding: 8px;
          background-color: transparent;
          color: black;
          transition: 0.5s;
        }
      }
    }
  }
}

.App {
  text-align: center;
}
