$gray-background: #F6F6F6;

body {
  margin: 0;
  margin-top: 128px;
}

header {
  z-index: 1000;
  position: fixed;
  top: 0;
  height: 124px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 4px #E24D21;
  background-color: white;
  img {
    height: 80px;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
  }
  ul {
    flex: 1;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 0 0;
    li {
      margin: 10px 5px 10px 5px;
      .anchor-link {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.85em;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-decoration: none;
        &.active-background {
          padding: 8px 20px 8px 20px;
          border-radius: 20px;
          background-color: #E24D21;
          color: white;
          transition: 0.5s;
        }
        &.inactive-background {
          padding: 8px;
          background-color: transparent;
          color: black;
          transition: 0.5s;
        }
      }
    }
  }
}

#inicio {
  img {
    width: 100%;
    height: auto;
  }
  .carousel-buttons {
    z-index: 10;
    position: relative;
    top: calc(-100vw / 4.6);
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    button {
      color: white;
      border: none;
      background-color: rgba(80, 80, 80, 0.4);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      outline: none;
    }
  }
  .white-oval {
    z-index: 15;
    transform: translate(0, -80px);
    background-color: white;
    height: 80px;
    width: 100%;
    border-radius: 50%;
  }
  .contact-container {
    position: absolute;
    top: calc(100vw / 2.5);
    left: 50%;
    transform: translate(-50%, 0);
    .contact {
      box-sizing: border-box;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 1.2px;
      height: 150px;
      width: 330px;
      font-size: 18px;
      background-color: white;
      -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
      border-radius: 40px;
      p, b {
        line-height: 1em;
        margin: 0.4em;
        padding: 0;
      }
      a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.85em;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-decoration: none;
        padding: 8px 20px 8px 20px;
        border-radius: 20px;
        background-color: #E24D21;
        color: white;
        transition: 0.5s;
      }
    }
  }
}

#nuestra-cultura {
  display: flex;
  flex-direction: column;
  .cultura-image-container {
    display: flex;
    justify-content: start;
  }
  .cultura-info {
    display: flex;
  }
}

.App {
  text-align: center;
}
